<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruitkha</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <link rel = "stylesheet" href="../assets/css/main.css">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div class = "first-page">
        <div class = "header" id = "header">
            <div class = "header-container">
                <div class = "logo-div">
                    <a href = "index.html">
                        <img class = "header-logo" src="../assets/img/logo.png">
                    </a>
                </div>
                <div class = "nav-items">
                    <div class = "nav-item">
                        <a href = "index.html" class = "a-nav-item">HOME</a>
                    </div>
                    <div class = "nav-item">
                        <a href = "shop.html" class = "a-nav-item">SHOP</a>
                    </div>
                </div>
                <div class = "header-icons">
                    <a class="a-shopping-cart" href = "cart.html">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                    </a>
                </div>
            
                <div class = "mobile-menu">
                    <a class = "menu-icon" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                    </a>
                
                    <div class="collapse" id="collapseExample">
                    <div class="card card-body menu-card">
                        <div class = "nav-item">
                            <a href = "index.html" class = "a-nav-item">HOME</a>
                        </div>
                        <hr>
                        <div class = "nav-item">
                            <a href = "shop.html" class = "a-nav-item">SHOP</a>
                        </div>
                        <hr>
                        <div class = "nav-item">
                            <a href = "cart.html" class = "a-nav-item">CART</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "main-container">
            <div class="waviy">
                <span style="--i:1"><p class = "subtitle">F</p></span>
                <span style="--i:2"><p class = "subtitle">R</p></span>
                <span style="--i:3"><p class = "subtitle">E</p></span>
                <span style="--i:4"><p class = "subtitle">S</p></span>
                <span style="--i:5"><p class = "subtitle">H</p></span>
                <span style="--i:6"> </span>
                <span style="--i:6"> </span>
                <span style="--i:6"><p class = "subtitle">&</p></span>
                <span style="--i:6"> </span>
                <span style="--i:6"> </span>
                <span style="--i:7"><p class = "subtitle">O</p></span>
                <span style="--i:8"><p class = "subtitle">R</p></span>
                <span style="--i:9"><p class = "subtitle">G</p></span>
                <span style="--i:10"><p class = "subtitle">A</p></span>
                <span style="--i:11"><p class = "subtitle">N</p></span>
                <span style="--i:12"><p class = "subtitle">I</p></span>
                <span style="--i:13"><p class = "subtitle">C</p></span>
               </div>
            <p class = "animate-charcter">Delicious Seasonal Fruits</p>
            <div class = "shop-button-div">
                <button class = "shop-btn" onclick="location.href = 'shop.html';">
                    FRUIT COLLECTION
                </button>
            </div>
        </div>
    </div>
    </div>
    
    <div id = "app" class = "second-page">
        <div class="second-heading">
            <span class = "our">Our</span><span class = "products"> Products</span>
            <hr class = "underline">
        </div>
        <div class = "row">
            <div v-for = "i of items" class="single-product-item">
                <div class="product-image">
                    <a><img v-bind:src= item_url[i-1] alt=""></a>
                </div>
                <h3>{{item_data[i-1]['name']}}</h3>
                <p class="product-kg">Per Kg</p>
                <p class="product-price">&#8377 {{item_data[i-1]['price']}}</p>
                <button :id="parseInt(i - 1)" class="cart-btn" @click = "addItemToCart()"><i class="fa fa-shopping-cart"></i>  Add to Cart</a>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../assets/js/index.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>

</html>